* {
    font-family: "Courier New", Courier, monospace;
    font-size: 16px;
}

/*
 * https://www.webfx.com/blog/web-design/font-collection-10-excellent-free-comic-book-fonts/
 */

@font-face {
    font-family: "digitalStrip";
    src: url("fonts/DigitalStripBB_Reg.otf");
}

body, .hole {
    background-color: #adf9ff;
}

article {
    text-align: center;
}

button, input {
    outline:0px;
}

.form-box {
    border-width: 1px;
}

input, .form-box, .hole {
    border-style: solid;
    border-color: #b6b6b6;
}

input {
    padding: 8px;
    margin: 8px;
    width: 20em;
    border-width: 1px;
    color: #b6b6b6;
}

input, h3 {
    border-width: 1px;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 2px;
    border-style: dashed;
    border-color: #b6b6b6;
}

.form-box, button {
    background-color: white;
    color: #b6b6b6;
    margin: 16px auto;
}

button {   
    font-size: 30px;
    width: 4em;
    color: rgb(0, 0, 255);
    margin: 20px 20px;
    border-style: solid;
    border-color: blue;
    border-width: 2px;
    border-left: none;
    border-right: none;
    border-top: none;
}

button:hover {
    color: rgb(65, 65, 255);
    border-color: rgb(65, 65, 255);
    transition: .8s;
}

.form-box {
    padding: 0px 16px 16px 16px;
    width: 30em;
}

p, ul, li {
    text-align: justify;
    margin: 0px;
}

#total-prize, #submit-box, h1, h2, h3, h4 {
    text-align: center;
}

ul {
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 1px;
    padding: 12px 0px 0px 0px;
    border-style: dashed;
    width: 100%;
    list-style-type: none;
}

#total-prize {
    padding: 18px 0px 8px 0px;
}

button, h3 {
    font-family: digitalStrip;
}

h3 {
    padding: 0px 0px 12px 0px;
    border-style: dashed;
    width: 100%;
}

.hole {
    height: 25px;
    width: 25px;
    border-width: 1px;
    border-radius: 50%;
    display: inline-block;
    margin: 12px 12px 0px 0px;
}